In [2]:
import pandas as pd
import datetime
import yfinance as yf

In [7]:
# company_list = ["AAPL", "GOOG", "CSCO", "MSFT"]
tick = 'USDKRW=X'
end = datetime.datetime.now()
start = '1997-01-01'

In [8]:

change = yf.download(tick, start=start, end=end)
change

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2003-12-01,1197.300049,1203.500000,1195.000000,1198.400024,1198.400024,0
2003-12-02,1198.099976,1198.500000,1186.199951,1195.000000,1195.000000,0
2003-12-03,1195.000000,1198.400024,1192.500000,1192.500000,1192.500000,0
2003-12-04,1192.599976,1197.900024,1174.800049,1190.099976,1190.099976,0
2003-12-05,1189.400024,1193.800049,1178.599976,1184.699951,1184.699951,0
...,...,...,...,...,...,...
2019-12-25,1161.300049,1162.229980,1159.739990,1162.229980,1162.229980,0
2019-12-26,1159.750000,1163.650024,1159.150024,1159.750000,1159.750000,0
2019-12-27,1160.109985,1161.890015,1156.390015,1161.199951,1161.199951,0
2019-12-30,1158.709961,1159.489990,1153.910034,1160.680054,1160.680054,0
2019-12-31,1156.339966,1158.189941,1151.739990,1156.349976,1156.349976,0

In [12]:
origin_data

                            Adj Close                                    \
                                 AAPL       CSCO       GOOG        MSFT
Datetime
2023-02-23 14:08:00-05:00  148.380005  48.834999  90.714996  252.179993
2023-02-23 14:09:00-05:00  148.350006  48.825001  90.750000  252.130005
2023-02-23 14:10:00-05:00  148.360199  48.810001  90.739998  252.210007
2023-02-23 14:11:00-05:00  148.449997  48.830002  90.764999  252.324997
2023-02-23 14:12:00-05:00  148.537506  48.830002  90.794998  252.350006
...                               ...        ...        ...         ...
2023-03-01 15:55:00-05:00  145.205002  48.355000  90.489998  245.839996
2023-03-01 15:56:00-05:00  145.250000  48.375000  90.470001  246.300003
2023-03-01 15:57:00-05:00  145.274994  48.340000  90.525398  246.339996
2023-03-01 15:58:00-05:00  145.244995  48.340000  90.555000  246.360001
2023-03-01 15:59:00-05:00  145.320007  48.349998  90.550003  246.240005

                                Close                                    \
                                 AAPL       CSCO       GOOG        MSFT
Datetime
2023-02-23 14:08:00-05:00  148.380005  48.834999  90.714996  252.179993
2023-02-23 14:09:00-05:00  148.350006  48.825001  90.750000  252.130005
2023-02-23 14:10:00-05:00  148.360199  48.810001  90.739998  252.210007
2023-02-23 14:11:00-05:00  148.449997  48.830002  90.764999  252.324997
2023-02-23 14:12:00-05:00  148.537506  48.830002  90.794998  252.350006
...                               ...        ...        ...         ...
2023-03-01 15:55:00-05:00  145.205002  48.355000  90.489998  245.839996
2023-03-01 15:56:00-05:00  145.250000  48.375000  90.470001  246.300003
2023-03-01 15:57:00-05:00  145.274994  48.340000  90.525398  246.339996
2023-03-01 15:58:00-05:00  145.244995  48.340000  90.555000  246.360001
2023-03-01 15:59:00-05:00  145.320007  48.349998  90.550003  246.240005

                                 High             ...        Low              \
                                 AAPL       CSCO  ...       GOOG        MSFT
Datetime                                          ...
2023-02-23 14:08:00-05:00  148.419998  48.845001  ...  90.705002  252.059998
2023-02-23 14:09:00-05:00  148.389999  48.834999  ...  90.690002  252.050003
2023-02-23 14:10:00-05:00  148.360199  48.825001  ...  90.709999  252.020004
2023-02-23 14:11:00-05:00  148.460007  48.830002  ...  90.730003  252.169998
2023-02-23 14:12:00-05:00  148.539993  48.830002  ...  90.750000  252.244995
...                               ...        ...  ...        ...         ...
2023-03-01 15:55:00-05:00  145.389999  48.400002  ...  90.449997  245.839996
2023-03-01 15:56:00-05:00  145.250000  48.375000  ...  90.449997  245.789993
2023-03-01 15:57:00-05:00  145.300003  48.380001  ...  90.430000  246.089996
2023-03-01 15:58:00-05:00  145.309998  48.355000  ...  90.519997  246.240005
2023-03-01 15:59:00-05:00  145.410004  48.369999  ...  90.510002  246.220001

                                 Open                                    \
                                 AAPL       CSCO       GOOG        MSFT
Datetime
2023-02-23 14:08:00-05:00  148.369995  48.830002  90.730003  252.080002
2023-02-23 14:09:00-05:00  148.384995  48.834999  90.720001  252.190002
2023-02-23 14:10:00-05:00  148.360001  48.825001  90.754997  252.130005
2023-02-23 14:11:00-05:00  148.369995  48.820000  90.730003  252.210007
2023-02-23 14:12:00-05:00  148.452805  48.825001  90.764999  252.315002
...                               ...        ...        ...         ...
2023-03-01 15:55:00-05:00  145.380005  48.380001  90.480003  246.190002
2023-03-01 15:56:00-05:00  145.205399  48.355000  90.485001  245.839996
2023-03-01 15:57:00-05:00  145.250000  48.380001  90.480003  246.289993
2023-03-01 15:58:00-05:00  145.274994  48.334999  90.523003  246.330002
2023-03-01 15:59:00-05:00  145.240005  48.345001  90.559998  246.360001

                            Volume
                              AAPL    CSCO    GOOG    MSFT
Datetime
2023-02-23 14:08:00-05:00        0       0       0       0
2023-02-23 14:09:00-05:00    51637   21182   47329   21186
2023-02-23 14:10:00-05:00    79501   17290   30082   42475
2023-02-23 14:11:00-05:00    41721    9021   40353   30425
2023-02-23 14:12:00-05:00    99985   14333   73807   41220
...                            ...     ...     ...     ...
2023-03-01 15:55:00-05:00   373692  125015  214458  326969
2023-03-01 15:56:00-05:00   278197  101754  144699  227645
2023-03-01 15:57:00-05:00   409319  167415  191026  199477
2023-03-01 15:58:00-05:00   419395  140785  229593  234055
2023-03-01 15:59:00-05:00  1114237  368506  454826  584257

[1672 rows x 24 columns]

In [ ]:
company_datas (dict)  
key : company code ( ex) "AAPL" )  
value : Company DataFrame data  

# Multi index DataFrame slicing
data_columns = set(list(map(lambda x: ' '.join(x[:1]),origin_data.columns)))
print(data_columns)

# 각 회사 코드를 key로 DataFrame을 value로 하는 dict 생성
company_datas = dict()
for company in company_list:
  tmp_df = pd.DataFrame()
  for column in data_columns:
    tmp_df[column] = origin_data[column, company]
  company_datas[company] = tmp_df

company_datas

In [13]:
Tickers = dict()
for company in company_list:
    Tickers[company] = (yf.Ticker(company))
    print(company, "배당 내역")
    print(Tickers[company].dividends)
    print(company, "주식 분할 내역")
    print(Tickers[company].splits)

AAPL 배당 내역
Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-02-04 00:00:00-05:00    0.220000
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
Name: Dividends, Length: 78, dtype: float64
AAPL 주식 분할 내역
Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64
GOOG 배당 내역
Series([], Name: Dividends, dtype: float64)
GOOG 주식 분할 내역
Date
2014-03-27 00:00:00-04:00     2.002000
2015-04-27 00:00:00-04:00     1.002746
2022-07-18 00:00:00-04:00    20.000000
Name: Stock Splits, dtype: float64
CSCO 배당 내역
Date
2011-03-29 00:00:00-04:00    0.06
2011-07-05 00:00:00-04:00    0.06
2011-10-04 00:00:00-04:00    0.06
2012-01-03 00:00:00-05:00    0.06
2012-04-03 00:00:00-04:00    0.08
2012-07-02 00:00:00-04:00    0.08
2012-10-02 00:00:00-04:00    0.14
2012-11-27 00:00:00-05:00    0.14
2013-04-04 00:00:00-04:00    0.17
2013-07-01 00:00:00-04:00    0.17
2013-10-01 00:00:00-04:00    0.17
2014-01-02 00:00:00-05:00    0.17
2014-04-01 00:00:00-04:00    0.19
2014-07-02 00:00:00-04:00    0.19
2014-09-30 00:00:00-04:00    0.19
2015-01-02 00:00:00-05:00    0.19
2015-03-31 00:00:00-04:00    0.21
2015-07-01 00:00:00-04:00    0.21
2015-10-01 00:00:00-04:00    0.21
2016-01-04 00:00:00-05:00    0.21
2016-04-04 00:00:00-04:00    0.26
2016-07-05 00:00:00-04:00    0.26
2016-10-03 00:00:00-04:00    0.26
2017-01-04 00:00:00-05:00    0.26
2017-04-04 00:00:00-04:00    0.29
2017-07-05 00:00:00-04:00    0.29
2017-10-04 00:00:00-04:00    0.29
2018-01-04 00:00:00-05:00    0.29
2018-04-04 00:00:00-04:00    0.33
2018-07-05 00:00:00-04:00    0.33
2018-10-04 00:00:00-04:00    0.33
2019-01-03 00:00:00-05:00    0.33
2019-04-04 00:00:00-04:00    0.35
2019-07-03 00:00:00-04:00    0.35
2019-10-03 00:00:00-04:00    0.35
2020-01-02 00:00:00-05:00    0.35
2020-04-02 00:00:00-04:00    0.36
2020-07-02 00:00:00-04:00    0.36
2020-10-01 00:00:00-04:00    0.36
2021-01-04 00:00:00-05:00    0.36
2021-04-05 00:00:00-04:00    0.37
2021-07-02 00:00:00-04:00    0.37
2021-10-04 00:00:00-04:00    0.37
2022-01-04 00:00:00-05:00    0.37
2022-04-05 00:00:00-04:00    0.38
2022-07-05 00:00:00-04:00    0.38
2022-10-04 00:00:00-04:00    0.38
2023-01-04 00:00:00-05:00    0.38
Name: Dividends, dtype: float64
CSCO 주식 분할 내역
Date
1991-03-18 00:00:00-05:00    2.0
1992-03-23 00:00:00-05:00    2.0
1993-03-22 00:00:00-05:00    2.0
1994-03-21 00:00:00-05:00    2.0
1996-02-20 00:00:00-05:00    2.0
1997-12-17 00:00:00-05:00    1.5
1998-09-16 00:00:00-04:00    1.5
1999-06-22 00:00:00-04:00    2.0
2000-03-23 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64
MSFT 배당 내역
Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
2023-02-15 00:00:00-05:00    0.68
Name: Dividends, Length: 77, dtype: float64
MSFT 주식 분할 내역
Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

{}