In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
import yahooquery as yq
from yahooquery import Ticker
from datetime import datetime, timedelta

symbols = ['aapl', 'amzn', 'nflx', 'goog']
tickers = Ticker(symbols)

In [2]:
from datetime import datetime, timedelta
# 기간
interval='1m'
end = datetime.today()
start = end-timedelta(days=7)
a = tickers.history(start=start, end=end, interval=interval)
a

# end = datetime.today()
# for i in range(1, 5):
#     start = end-timedelta(days=7)
#     a = tickers.history(start=start, end=end, interval=interval)
#     end = start

# a

                                        open        high         low  \
symbol date
aapl   2023-03-10 09:30:00-05:00  150.210007  150.509995  149.869995
       2023-03-10 09:31:00-05:00  150.250000  150.250000  149.550003
       2023-03-10 09:32:00-05:00  149.889999  150.309998  149.759995
       2023-03-10 09:33:00-05:00  150.169998  150.440002  149.919998
       2023-03-10 09:34:00-05:00  150.080002  150.169998  149.870697
...                                      ...         ...         ...
goog   2023-03-16 15:56:00-04:00  100.980003  101.040001  100.949997
       2023-03-16 15:57:00-04:00  101.019997  101.120003  101.010002
       2023-03-16 15:58:00-04:00  101.070000  101.139999  101.050003
       2023-03-16 15:59:00-04:00  101.110001  101.110001  101.029999
       2023-03-16 16:00:00-04:00  101.070000  101.070000  101.070000

                                       close     volume
symbol date
aapl   2023-03-10 09:30:00-05:00  150.229996  2161845.0
       2023-03-10 09:31:00-05:00  149.880005   532925.0
       2023-03-10 09:32:00-05:00  150.199997   307734.0
       2023-03-10 09:33:00-05:00  150.080002   231777.0
       2023-03-10 09:34:00-05:00  149.895004   206686.0
...                                      ...        ...
goog   2023-03-16 15:56:00-04:00  101.019997   231323.0
       2023-03-16 15:57:00-04:00  101.074997   229414.0
       2023-03-16 15:58:00-04:00  101.110001   369483.0
       2023-03-16 15:59:00-04:00  101.070000   670711.0
       2023-03-16 16:00:00-04:00  101.070000        0.0

[7796 rows x 5 columns]

In [3]:
# 멀티인덱스 수정
company_datas = dict()
for company in symbols:
    tmp_df = a.loc[company]
    company_datas[company] = tmp_df
company_datas

{'aapl':                                  open        high         low       close  \
 date
 2023-03-10 09:30:00-05:00  150.210007  150.509995  149.869995  150.229996
 2023-03-10 09:31:00-05:00  150.250000  150.250000  149.550003  149.880005
 2023-03-10 09:32:00-05:00  149.889999  150.309998  149.759995  150.199997
 2023-03-10 09:33:00-05:00  150.169998  150.440002  149.919998  150.080002
 2023-03-10 09:34:00-05:00  150.080002  150.169998  149.870697  149.895004
 ...                               ...         ...         ...         ...
 2023-03-16 15:56:00-04:00  155.679993  155.919998  155.660004  155.910004
 2023-03-16 15:57:00-04:00  155.914993  156.029907  155.904999  155.960007
 2023-03-16 15:58:00-04:00  155.949997  155.960007  155.839996  155.899994
 2023-03-16 15:59:00-04:00  155.899994  155.929993  155.809998  155.910004
 2023-03-16 16:00:00-04:00  155.850006  155.850006  155.850006  155.850006

                               volume
 date
 2023-03-10 09:30:00-05:00  2161845.0
 2023-03-10 09:31:00-05:00   532925.0
 2023-03-10 09:32:00-05:00   307734.0
 2023-03-10 09:33:00-05:00   231777.0
 2023-03-10 09:34:00-05:00   206686.0
 ...                              ...
 2023-03-16 15:56:00-04:00   441635.0
 2023-03-16 15:57:00-04:00   432476.0
 2023-03-16 15:58:00-04:00   567975.0
 2023-03-16 15:59:00-04:00  1112682.0
 2023-03-16 16:00:00-04:00        0.0

 [1949 rows x 5 columns],
 'amzn':                                  open        high         low       close  \
 date
 2023-03-10 09:30:00-05:00   92.669998   92.729897   92.010002   92.029999
 2023-03-10 09:31:00-05:00   92.039902   92.559998   91.949997   92.490097
 2023-03-10 09:32:00-05:00   92.500000   92.750000   92.370003   92.580002
 2023-03-10 09:33:00-05:00   92.589996   92.800003   92.169998   92.229599
 2023-03-10 09:34:00-05:00   92.220001   92.370003   91.959999   91.970001
 ...                               ...         ...         ...         ...
 2023-03-16 15:56:00-04:00   99.790001   99.949997   99.769997   99.940002
 2023-03-16 15:57:00-04:00   99.945000  100.089996   99.930000  100.074997
 2023-03-16 15:58:00-04:00  100.079903  100.080002   99.989998  100.040001
 2023-03-16 15:59:00-04:00  100.040001  100.070000   99.970001  100.070000
 2023-03-16 16:00:00-04:00  100.040001  100.040001  100.040001  100.040001

                               volume
 date
 2023-03-10 09:30:00-05:00  2162169.0
 2023-03-10 09:31:00-05:00   364356.0
 2023-03-10 09:32:00-05:00   196811.0
 2023-03-10 09:33:00-05:00   215712.0
 2023-03-10 09:34:00-05:00   217170.0
 ...                              ...
 2023-03-16 15:56:00-04:00   432359.0
 2023-03-16 15:57:00-04:00   505524.0
 2023-03-16 15:58:00-04:00   550932.0
 2023-03-16 15:59:00-04:00  1168944.0
 2023-03-16 16:00:00-04:00        0.0

 [1949 rows x 5 columns],
 'nflx':                                  open        high         low       close  \
 date
 2023-03-10 09:30:00-05:00  297.904999  298.410004  297.029999  297.793213
 2023-03-10 09:31:00-05:00  297.760010  298.579987  297.557892  298.507812
 2023-03-10 09:32:00-05:00  298.480011  298.790009  297.649994  298.279999
 2023-03-10 09:33:00-05:00  298.260010  298.634796  296.589996  296.820007
 2023-03-10 09:34:00-05:00  296.869995  296.869995  295.649994  296.195007
 ...                               ...         ...         ...         ...
 2023-03-16 15:56:00-04:00  308.959991  309.285004  308.924988  309.265015
 2023-03-16 15:57:00-04:00  309.274994  309.872101  309.274994  309.799988
 2023-03-16 15:58:00-04:00  309.795013  310.019989  309.720001  309.924988
 2023-03-16 15:59:00-04:00  309.950012  310.140015  309.890015  309.929993
 2023-03-16 16:00:00-04:00  310.059998  310.059998  310.059998  310.059998

                              volume
 date
 2023-03-10 09:30:00-05:00  154132.0
 2023-03-10 09:31:00-05:00   33311.0
 2023-03-10 09:32:00-05:00   33480.0
 2023-03-10 09:33:00-05:00   41249.0
 2023-03-10 09:34:00-05:00   23929.0
 ...                             ...
 2023-03-16 15:56:00-04:00   83396.0
 2023-03-16 15:57:00-04:00   45361.0
 2023-03-16 15:58:00-04:00   56361.0
 2023-03-16 15:59:00-04:00  109443.0
 2023-03-16 16:00:00-04:00       0.0

 [1949 rows x 5 columns],
 'goog':                                  open        high         low       close  \
 date
 2023-03-10 09:30:00-05:00   92.500000   92.699997   92.500000   92.690002
 2023-03-10 09:31:00-05:00   92.690002   92.830002   92.550003   92.800003
 2023-03-10 09:32:00-05:00   92.820000   93.160004   92.760002   93.029999
 2023-03-10 09:33:00-05:00   93.035004   93.171097   92.753098   92.849998
 2023-03-10 09:34:00-05:00   92.849998   92.919998   92.629997   92.640602
 ...                               ...         ...         ...         ...
 2023-03-16 15:56:00-04:00  100.980003  101.040001  100.949997  101.019997
 2023-03-16 15:57:00-04:00  101.019997  101.120003  101.010002  101.074997
 2023-03-16 15:58:00-04:00  101.070000  101.139999  101.050003  101.110001
 2023-03-16 15:59:00-04:00  101.110001  101.110001  101.029999  101.070000
 2023-03-16 16:00:00-04:00  101.070000  101.070000  101.070000  101.070000

                              volume
 date
 2023-03-10 09:30:00-05:00  650588.0
 2023-03-10 09:31:00-05:00  113059.0
 2023-03-10 09:32:00-05:00  134296.0
 2023-03-10 09:33:00-05:00  123090.0
 2023-03-10 09:34:00-05:00   70586.0
 ...                             ...
 2023-03-16 15:56:00-04:00  231323.0
 2023-03-16 15:57:00-04:00  229414.0
 2023-03-16 15:58:00-04:00  369483.0
 2023-03-16 15:59:00-04:00  670711.0
 2023-03-16 16:00:00-04:00       0.0

 [1949 rows x 5 columns]}

In [4]:
df = pd.DataFrame()
for company in symbols:
    company_datas[company]["date"] = company_datas[company].index
    company_datas[company]["symbol"] = company
    df = pd.concat([df, company_datas[company]], join='outer')
df.reset_index(drop=True, inplace=True)
df

,open,high,low,close,volume,date,symbol
0,150.210007,150.509995,149.869995,150.229996,2161845.0,2023-03-10 09:30:00-05:00,aapl
1,150.250000,150.250000,149.550003,149.880005,532925.0,2023-03-10 09:31:00-05:00,aapl
2,149.889999,150.309998,149.759995,150.199997,307734.0,2023-03-10 09:32:00-05:00,aapl
3,150.169998,150.440002,149.919998,150.080002,231777.0,2023-03-10 09:33:00-05:00,aapl
4,150.080002,150.169998,149.870697,149.895004,206686.0,2023-03-10 09:34:00-05:00,aapl
...,...,...,...,...,...,...,...
7791,100.980003,101.040001,100.949997,101.019997,231323.0,2023-03-16 15:56:00-04:00,goog
7792,101.019997,101.120003,101.010002,101.074997,229414.0,2023-03-16 15:57:00-04:00,goog
7793,101.070000,101.139999,101.050003,101.110001,369483.0,2023-03-16 15:58:00-04:00,goog
7794,101.110001,101.110001,101.029999,101.070000,670711.0,2023-03-16 15:59:00-04:00,goog
7795,101.070000,101.070000,101.070000,101.070000,0.0,2023-03-16 16:00:00-04:00,goog

In [5]:
df.to_csv("C:/Users/SSAFY/Downloads/drafts.csv", sep=',', encoding='utf-8')